@page "/contacts"

<h1 class="text-center text-success mb-3">Контакты</h1>

<div class="row row-cols-1 row-cols-md-4">
	<div class="col mb-3">
		<div class="card border-success h-100">
			<svg class="card-img-top" role="img" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" focusable="false">
				<rect width="100%" height="100%" fill="#868e96"></rect>
			</svg>
			<div class="card-body">
				<h5 class="card-title text-success">Алеся Дерягина</h5>
				<h6 class="card-subtitle mb-2 text-muted">Детский врач-эндокринолог</h6>
				<a class="card-link btn btn-outline-success btn-sm" href="mailto:Deryagina.Lesya@yandex.ru?subject=Enthro">Связаться</a>
			</div>
		</div>
	</div>
	<div class="col mb-3">
		<div class="card border-success h-100">
			<svg class="card-img-top" role="img" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" focusable="false">
				<rect width="100%" height="100%" fill="#868e96"></rect>
			</svg>
			<div class="card-body">
				<h5 class="card-title text-success">Владимир Дерягин</h5>
				<h6 class="card-subtitle mb-2 text-muted">Инженер-разработчик</h6>
				<a class="card-link btn btn-outline-success btn-sm" href="mailto:Deryagin.Valdemar@yandex.ru?subject=Enthro">Связаться</a>
			</div>
		</div>
	</div>
</div>