@page "/"

<div class="row">
	<div class="col-md-6 order-md-2 text-center my-md-auto">
		<span class="text-success" style="font-family: 'Book Antiqua'; font-size: 12rem; line-height: 0.75;">E</span><span style="font-family: 'Book Antiqua'; font-size: 6rem; line-height: 0.75;">nthro</span>
	</div>
	<div class="col-md-6 order-md-1 text-center text-md-left pr-md-5 pt-3">
		<p class="lead">
			<span class="h4 text-success" style="font-family: 'Book Antiqua';">E</span><span class="h4" style="font-family: 'Book Antiqua';">nthro</span> - проект, призванный облегчить проведение мониторинга антропологических показателей детей в процессе их развития.
		</p>
		<p class="lead">
			При рассчёте данных показателей используются нормы роста, веса и др., разработанные Всемирной Организацией Здравоохранения на основе данных, собранных во время проведения Многоцентрового исследования по разработке справочных показателей развития детей.
		</p>
	</div>
</div>