@inherits LayoutComponentBase

<div class="main">
	<nav class="navbar navbar-light bg-white flex-row border-bottom box-shadow mb-3 py-0">
		<div class="container">
			<a class="navbar-brand" href="">
				<span class="text-success" style="font-family: 'Book Antiqua'; font-size: 3rem; line-height: 1;">E</span><span style="font-family: 'Book Antiqua'; font-size: 1.5rem; line-height: 1;">nthro</span>
			</a>
		</div>
	</nav>

	<div class="container pb-3">
		<div class="main">
			@Body
		</div>
	</div>

	<footer class="border-top footer text-muted py-0">
		<div class="text-center">
			&copy; Владимир Дерягин, 2019-2020
		</div>
	</footer>
</div>